<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/partials/dashboard-settings.css">
    <title>Document</title>
</head>

<body>
    <div class="settings-section">
        <div class="settings">
            <h1>Settings</h1>

            <div>
                <h3>Name:</h3>
                <p><%= user.name %></p>
            </div>

            <div>
                <h3>Email:</h3>
                <p><%= user.email %></p>
            </div>

            <div>
                <h3>Role:</h3>
                <p><%= user.role %></p>
            </div>

            <a href="/users/edit-name/<%= user.id %>">
                <button class="change-name">Change Name</button>
            </a>

            <a href="/users/edit-password/<%= user.id %>">
                <button class="change-password">Change Password</button>
            </a>

            <button class="delete-account">Delete Account</button>
        </div>

    </div>

    <script>
        const deleteBtn = document.querySelector('button.delete-account');
        deleteBtn.addEventListener('click', async () => {
            const data = {
                id: `<%= user.id %>`
            }

            try {
                const res = await fetch('/users', {
                   method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                });

                if (res.ok)
                    window.location.href = '/dashboard/accounts';
            } catch (err) {
                console.log(err);
            }
        });
    </script>
</body>
</html>


