<head>
    <link rel="stylesheet" href="/css/components/talks-item.css">
</head>
<body>
    
    <div class="talks-item">
        <img
            src="<%= data.img %>"
            alt="<%= data.name %>"
        >
        <h3><%= data.name %></h3>

        <div>
            <h4>Date: <%= data.date %></h4>
            <h4>Guest: <%= data.guests %></h4>
        </div>
    </div>


</body>
